.leaflet-container {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    -ms-touch-action: none;
    touch-action: none;
    background-color: #262626
}

/* Map Popup */
.leaflet-popup-content {
    width: 700px;
    min-width: 450px;
}

.leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: solid 1px;
    font-size: 20px;
    width: auto;
}
/* Map Popup */

/* Popup Scroller */
::-webkit-scrollbar {
    width: 6px !important;

}

::-webkit-scrollbar-thumb {
    border-right: 3px #55616b solid;
    border-left: 3px #55616b solid;
    background-clip: padding-box;
}

.thinScrBar {
    scrollbar-width: thin !important;
}
/* Popup Scroller */