/* Map Popup */

/* Popup Scroller */
::-webkit-scrollbar {
    width: 6px !important;

}

::-webkit-scrollbar-thumb {
    border-right: 3px #55616b solid;
    border-left: 3px #55616b solid;
    background-clip: padding-box;
}

.thinScrBar {
    scrollbar-width: thin !important;
}
/* Popup Scroller */