
.ui.selection.visible.dropdown>.text:not(.default) {
    color: rgba(255,255,255,.4) !important;
}
.ui.active.search.dropdown input.search:focus+.text {
    color: rgba(255,255,255,.4) !important;
}
.ui.selection.dropdown {
    background-color: rgba(0,0,0,.6);
    border: solid 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;
}
.ui.selection.dropdown:hover {
    border-color: rgba(255,255,255,.4);
    color: rgba(255,255,255,.75) !important;
}
.ui.search.dropdown>.text {
    color: inherit !important;
}
.ui.dropdown .menu {
    background-color: rgba(0,0,0,.6);
    color: rgba(255,255,255,.7) !important;
    font-weight: normal !important;
}
.ui.selection.active.dropdown .menu {
    border-top: solid 1px rgba(255,255,255,.05) !important;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.ui.menu .ui.dropdown .menu>.selected.item {
    background: rgba(42,50,66,1) !important;
    border: none;
    color: rgba(255,255,255,0.75) !important;
}
.ui.dropdown .menu>.item,
.ui.menu .ui.dropdown .menu>.item {
    background: rgba(0,0,0,.7) !important;
    border: none;
    color: rgba(255,255,255,0.4) !important;
}
.ui.dropdown .menu>.item:hover,
.ui.menu .ui.dropdown .menu>.item:hover,
.ui.dropdown .menu .selected.item:hover {
    background-color: rgba(71,82,102,1) !important;
    color: rgba(255,255,255,0.9) !important;
}
.ui.menu .ui.dropdown .menu>.active.item,
.ui.dropdown .menu .active.item {
    font-weight: normal !important;
}

.ui.selection.dropdown .menu>.item {
    border: none;
}
