.alert-toolbar {
    padding: 10px;
    height: 30px;
}
.alert-toolbar-left {
    float: left;
}

.alert-toolbar-right {
    float: right;
}

.alert-local-list {
    max-height: calc(50vh - 200px);
    overflow: auto; 
    width: 100% ;
}