/*spark line*/
.sparkline {
    fill: none;
    stroke: rgba(102,153,255,0.7);
    stroke-width: 1px;
}

.reference-line {
    fill: none;
    stroke: black;
    stroke-width: 0.4px;
    stroke-dasharray: 3,3;
    stroke-opacity: 1.0;
}

.interquartile-box {
    fill: rgba(0,0,0,0.2);
}

.chart-base {
    border: 1px solid;
    color: rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,0.15);
}

.sparkline-max-point {
    fill: rgba(51,255,255,0.8);
    font-size: 12px;
    font-family: sans-serif;
}

.sparkline-min-point {
    fill: rgba(51,255,255,0.8);
    font-size: 12px;
    font-family: sans-serif;
}

.sparkline-end-point {
    fill: rgba(102,179,255,1);
    font-size: 12px;
    font-family: sans-serif;
}

.sparkline-overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #FFFFFF;
    stroke: rgba(51,255,255,0.5);
    stroke-width: 1px;
}

.focustext {
    fill: rgba(255,255,255,0.7);
    font-size: 12px;
    font-family: sans-serif;
}

.focusrect {
    fill: rgba(0,0,0,0.7);
    /*stroke: rgba(255,255,255,0.5);*/
}

/**/
