.terms {
    background-color: #2A2C34;
    height: 100vh;
}

.terms .top-header {
    height: 500px;
    width: 100vw;
    top:0;
    background-color: #2A2C34;
}

.terms .top-header .logo {
    margin-top: 25px;
    width: 300px;
}

.terms .main {
    position: absolute;
    padding: 10px;
    top:110px;
    right:0;
    left:0;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    height: calc(99vh - 110px);
    overflow-y: auto;
    background-color: #FFF;
}

.terms .main ul {
    list-style-type: none;
    padding-left: 0;
}
.terms .main li {
    margin-top: 5px;
}