.terms {
    font-size: 16px;
    background-color: #ffffff;
}
.terms h4{
    color: #273c43 !important;
}
.terms p{
    line-height: 1.7rem !important;
    padding: 0.3rem;
    color: #273c43 !important;
}