


.ui.header .content.next {
    width: 100%;
    position: relative;
}

.ui.header .content .fold-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;

}

.tbBodyList .ui.button .icon{
    margin:0 !important;
}


.loadingBox {
    width:80px;
    height:80px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}



/*Step*/

.ui.steps{
    border: solid 1px rgba(255,255,255,.2);
}

.ui.steps .step{
    background-color: #1f2026 !important;
    border-right: 1px solid rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;
}

.ui.steps .step .description{
    color: rgba(255,255,255,.6);
}

.ui.steps .step.active{
    background-color: #447700 !important;
}

.ui.steps .step.active .icon{
    color: #fff ;
}

.ui.steps .step.active .title{
    color: #fff;
}

.ui.steps .step:after{
    background-color: #1f2026 !important;
    border-style: solid;
    border-color: rgba(255,255,255,.2);
    border-width: 0 1px 1px 0;
}

.ui.steps .step.active:after{
    background-color: #447700 !important;
}

/* Sub-title */

.create-org .ui.header {
    line-height: 1.28571429em;
    color: rgba(255,255,255,0.7);
    font-size: 1.5em !important;
    font-weight: normal !important;
    padding: 1.25rem 0;
}

/* Type */

.create-org .item{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}
.create-org .item label{
    display: block;
    margin: 0 0 .28571429rem 0;
}

/* Form */
.ui.grid .column .ui.form .fields,
.ui.grid .column .ui.form .field{
    margin: 0 !important;
}


.ui.grid .ui.form .field label{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4;
    color: rgba(255,255,255,.7) !important;
}

.ui.grid .column .ui.form .fields > .ui.grid{
    margin-top: 0;
    margin-bottom: 0;
}


.orgButton {
    padding: 1em 0;
}

.round_panel .create-org .ui.selection.dropdown>.dropdown.icon{
    padding: .91666667em;
}


.create-org .ui.grid .column .ui.form .fields > .ui.grid > .row.avatar_img {
    display: none;
}

/* radio */

.ui.grid .column .field .radio label{
    color: rgba(255,255,255,0.6) !important;
}

/* .step_side card */

.step_side{
    padding-top: 1.25rem;
    /*justify-content: right;*/
    /*flex-direction: row-reverse;*/
}

.step_side .ui.card{
    margin-bottom: 1em;
    width: 100%;
    min-width: 190px;
}

.step_side .row:last-child .ui.card{
    margin-bottom: 0;
}

.step_side .ui.card .ui.divided.list>.item {
    padding: 0 1em !important;

}

.step_side .ui.card, .ui.cards>.card {
    background-color: rgba(0, 0, 0, .3);
    border: solid 1px rgba(255, 255, 255, .2);
    box-shadow: none;
}
.step_side .ui.card > .content > .header{
    display: inline-block;
    width: 50%;
    color: rgba(255,255,255,.6);
    font-weight: normal;
}

.step_side .ui.card .content .meta{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: rgba(255,255,255,.3);
}

.ui.list .list>.item .header, .ui.list>.item .header{
    font-weight: normal;
}


.round_panel .ui.form .disabled.field, .round_panel .ui.form .disabled.fields .field, .round_panel .ui.form .field :disabled {
    opacity: 1;
}

/* checkbox */
.round_panel .ui.checkbox .box:before,
.round_panel .ui.checkbox label:before{
    background-color: rgba(0,0,0,.3) !important;
    border: solid 1px rgba(255,255,255,.15) !important;
    color: rgba(255,255,255,.6);
}

/* checkbox toggle */
.round_panel .ui.toggle.checkbox input:checked~.box:before,
.round_panel .ui.toggle.checkbox input:checked~label:before {
    background-color: rgba(68,119,0,1)!important;
    /*border: solid 1px rgba(255,255,255,.15) !important;*/
}

/* checkbox radio */
.round_panel .ui.radio.checkbox input:checked~.box:after, .round_panel .ui.radio.checkbox input:checked~label:after {
    background-color: rgba(255,255,255,.6);
}

ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
    opacity: 1;
}



/* ----- PopUp User ----- */

.popup_user .ui.header {
    display: none;
}

/*.popup_user .submitButtonGroup{*/
/*    justify-content: center;*/
/*}*/

.popup_user .submitButtonGroup.orgButton.fields{
    padding-bottom: 0;

}
/*.popup_user .submitButtonGroup.orgButton.fields .field{*/
/*    position: absolute;*/
/*    top: 41.55rem;*/
/*}*/

/*.popup_user .submitButtonGroup.orgButton.fields .field .button{*/
/*    padding: .7em 1.5em;*/

/*}*/

.popup_user .row.avatar_img{
    padding-top: 0;
}
.popup_user .submitButtonGroup.orgButton.fields .field:last-child .button{
    display: none;
}

/*.popup_user .orgButton{*/
/*    padding: 0;*/
/*}*/

.popup_user .step_side{
    padding-top: 0;
}

.ui.modal>.actions.adduser-close{
     text-align: right !important;
 }


/* clusterInst chart */
.chart-tab{
    margin:0;
    justify-content:center;
    background-color:rgba(0,0,0,.3);
}




.text-danger {color:#FF1902; }
.login-danger {display: block; text-align: left; text-indent: 15px;}
.s-alert-top-right {z-index: 9999;}


/* cluster inst detail viewer*/
.wrapperPercentage {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    margin: 20px 0;
}

.wrapperPercentage.cloudlet {
    flex-wrap: wrap;
}

.childPercentage {
    display: flex;
    flex-grow: 1;
    /*flex-shrink: 1;*/
    /*flex-basis: 0;*/
    min-width: 140px;
    flex-basis: 100%;
    flex-direction: column;
    height: auto;
    margin: 10px 10px 10px 10px !important;
    border: 1px solid #4b4d52 !important;
    background: #292c33 !important;
    padding: 5px 10px !important;
}
.childPercentage:last-child {
    margin: 10px 10px 10px 10px !important;
}
.childPercentage .ui.header {
    display: flex;
    /* flex-grow: 1; */
    color: #d4d5d8 !important;
    margin: 5px 0 0 0;
    font-size: 20px;
}
.childPercentage .ui.container {
    width: unset;
}
.childPercentage .ui.container .content {
    display: flex;
    flex-direction: column;
}
.childPercentage .ui.container.cpu {
    color: #dfcf18;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-grow: 1;
    /* justify-content: flex-end;
    align-items: center; */
}
.childPercentage .ui.container.memory {
    color: #18c1df;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-grow: 1;
    /* justify-content: flex-end;
    align-items: center; */
}
.childPercentage .ui.container.disk {
    color: #df8418;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-grow: 1;
    /* justify-content: flex-end;
    align-items: center; */
}
.childPercentage .content {
    /* margin: 0 0 0 10px !important; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}
.childPercentage .content .ui.container.network_rcv {
    color: #18dfca;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.network_rcv .title {
    color: #d4d5d8;
    font-size: 14px;
}
.childPercentage .content .ui.container.network_snd {
    color: #dd014f;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.network_snd .title {
    color: #d4d5d8;
    font-size: 14px;
}
.childPercentage .content .ui.container.tcp_tcpretrans {
    color: #0036ff;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.tcp_tcpretrans .title {
    color: #d4d5d8;
    font-size: 14px;
}
.childPercentage .content .ui.container.tcp_connsest {
    color: #8a00ff;
    font-size: 24px;
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.tcp_connsest .title {
    color: #d4d5d8;
    font-size: 14px;
}
.childPercentage .content .ui.container.udp_tcpretrans {
    color: #aedf18;
    font-size: 24px;
    margin: 5px 0 0 0 !important;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.udp_tcpretrans .title {
    color: #d4d5d8;
    font-size: 14px;
}
.childPercentage .content .ui.container.est_connsest {
    color: #ff00ba;
    font-size: 24px;
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 100%;
}
.childPercentage .content .ui.container.est_connsest .title {
    color: #d4d5d8;
    font-size: 14px;
}

.childPercentage.cloudlet_monitoring {
    /*min-width: 200px;*/
    height: unset;
}
.childPercentage.cloudlet_monitoring:last-child {
    margin: 10px 10px 10px 10px !important;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts {
    display: flex;
    width: 100%;
    padding: 10px;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge {
    display: flex;
    /* flex-grow: 1; */
    margin: 0 20px 0 0;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper {
    position: relative;
    display: flex;
    width: 100%;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper .cloudlet_monitoring_charts_gauge_wrapper_bg {
    display: flex;
    width: 100%;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper .cloudlet_monitoring_charts_gauge_wrapper_bg img {
    width: 200px;
    height: 95px;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper .cloudlet_monitoring_charts_gauge_wrapper_needle {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    /*add by inki*/
    left: 2px;
    top: -3px;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper .cloudlet_monitoring_charts_gauge_wrapper_needle_img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 9px;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_gauge_wrapper .cloudlet_monitoring_charts_gauge_wrapper_needle_img img {
    width: 185px;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_max {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #4b4d52;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_max .cloudlet_monitoring_charts_counting_max_title {
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    color: #009cff;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_max .cloudlet_monitoring_charts_counting_max_value {
    display: flex;
    flex-direction: row;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_max .cloudlet_monitoring_charts_counting_max_value .cloudlet_monitoring_charts_counting_max_value_number {
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    color: #009cff;
    margin: 0 3px 0 0;
    height: 100%;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_max .cloudlet_monitoring_charts_counting_max_value .cloudlet_monitoring_charts_counting_max_value_unit {
    display: flex;
    font-size: 16px;
    color: #ffffff;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_used {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    width: 100%;
    margin: 0 20px 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #4b4d52;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_used .cloudlet_monitoring_charts_counting_used_title {
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    color: #00ffcc;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_used .cloudlet_monitoring_charts_counting_used_value {
    display: flex;
    flex-direction: row;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_used .cloudlet_monitoring_charts_counting_used_value .cloudlet_monitoring_charts_counting_used_value_number {
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    color: #00ffcc;
    margin: 0 3px 0 0;
}
.childPercentage.cloudlet_monitoring .cloudlet_monitoring_charts .cloudlet_monitoring_charts_counting .cloudlet_monitoring_charts_counting_used .cloudlet_monitoring_charts_counting_used_value .cloudlet_monitoring_charts_counting_used_value_unit {
    display: flex;
    font-size: 16px;
    color: #ffffff;
}

.wrapperPercentage.cloudlet .childPercentage {
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 480px;
}


