


.ui.header .content.next {
    width: 100%;
    position: relative;
}

.ui.header .content .fold-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;

}

.ui.button .icon.trash.alternate{
    margin:0 !important;
}


.loadingBox {
    width:80px;
    height:80px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
