


.ui.header .content.next {
    width: 100%;
    position: relative;
}

.ui.header .content .fold-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;

}

.tbBodyList .ui.button .icon{
    margin:0 !important;
}


.loadingBox {
    width:80px;
    height:80px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}



/*Step*/

.ui.steps{
    border: solid 1px rgba(255,255,255,.2);
}

.ui.steps .step{
    background-color: #1f2026 !important;
    border-right: 1px solid rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;
}

.ui.steps .step .description{
    color: rgba(255,255,255,.6);
}

.ui.steps .step.active{
    background-color: #447700 !important;
}

.ui.steps .step.active .icon{
    color: #fff ;
}

.ui.steps .step.active .title{
    color: #fff;
}

.ui.steps .step:after{
    background-color: #1f2026 !important;
    border-style: solid;
    border-color: rgba(255,255,255,.2);
    border-width: 0 1px 1px 0;
}

.ui.steps .step.active:after{
    background-color: #447700 !important;
}

/* Sub-title */

.create-org .ui.header {
    line-height: 1.28571429em;
    color: rgba(255,255,255,0.7);
    font-size: 1.5em !important;
    font-weight: normal !important;
    padding: 1.25rem 0;
}

/* Type */

.create-org .item{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
}
.create-org .item label{
    display: block;
    margin: 0 0 .28571429rem 0;
}

/* Form */
.ui.grid .column .ui.form .fields,
.ui.grid .column .ui.form .field{
    margin: 0 !important;
}


.ui.grid .ui.form .field label{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4;
    color: rgba(255,255,255,.7) !important;
}

.ui.grid .column .ui.form .fields > .ui.grid{
    margin-top: 0;
    margin-bottom: 0;
}


.orgButton {
    padding: 1em 0;
}

.round_panel .create-org .ui.selection.dropdown>.dropdown.icon{
    padding: .91666667em;
}


.create-org .ui.grid .column .ui.form .fields > .ui.grid > .row.avatar_img {
    display: none;
}

/* radio */

.ui.grid .column .field .radio label{
    color: rgba(255,255,255,0.6) !important;
}

/* .step_side card */

.step_side{
    padding-top: 1.25rem;
    /*justify-content: right;*/
    /*flex-direction: row-reverse;*/
}

.step_side .ui.card{
    margin-bottom: 1em;
    width: 100%;
    min-width: 190px;
}

.step_side .ui.card .ui.divided.list>.item {
    padding: 0 1em !important;

}

.step_side .ui.card, .ui.cards>.card {
    background-color: rgba(0, 0, 0, .3);
    border: solid 1px rgba(255, 255, 255, .2);
    box-shadow: none;
}
.step_side .ui.card > .content > .header{
    display: inline-block;
    width: 50%;
    color: rgba(255,255,255,.6);
    font-weight: normal;
}

.step_side .ui.card .content .meta{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: rgba(255,255,255,.3);
}

.ui.list .list>.item .header, .ui.list>.item .header{
    font-weight: normal;
}


.round_panel .ui.form .disabled.field, .round_panel .ui.form .disabled.fields .field, .round_panel .ui.form .field :disabled {
    opacity: 1;
}

/* checkbox */
.round_panel .ui.checkbox .box:before,
.round_panel .ui.checkbox label:before{
    background-color: rgba(0,0,0,.3) !important;
    border: solid 1px rgba(255,255,255,.15) !important;
    color: rgba(255,255,255,.6);
}

/* checkbox toggle */
.round_panel .ui.toggle.checkbox input:checked~.box:before,
.round_panel .ui.toggle.checkbox input:checked~label:before {
    background-color: rgba(68,119,0,1)!important;
    /*border: solid 1px rgba(255,255,255,.15) !important;*/
}

/* checkbox radio */
.round_panel .ui.radio.checkbox input:checked~.box:after, .round_panel .ui.radio.checkbox input:checked~label:after {
    background-color: rgba(255,255,255,.6);
}

ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
    opacity: 1;
}



/* ----- PopUp User ----- */

.popup_user .ui.header {
    display: none;
}

/*.popup_user .submitButtonGroup{*/
/*    justify-content: center;*/
/*}*/

.popup_user .submitButtonGroup.orgButton.fields .field{
    position: absolute;
    top: 41.55rem;
}

.popup_user .submitButtonGroup.orgButton.fields .field .button{
    padding: .7em 1.5em;

}

.popup_user .submitButtonGroup.orgButton.fields .field:last-child .button{
    display: none;
}

.popup_user .orgButton{
    padding: 0;
}

.popup_user .step_side{
    padding-top: 0;
}

.ui.modal>.actions.adduser-close{
     text-align: right !important;
 }


/* clusterInst chart *//
.chart-tab{
    margin:0;
    justify-content:center;
    background-color:rgba(0,0,0,.3);
}




.text-danger {color:#FF1902; }
.login-danger {display: block; text-align: left; text-indent: 15px;}
.s-alert-top-right {z-index: 9999;}