{
    "rules": {
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["to"]
            }
        ]
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "extends": "airbnb",
    "plugins": ["react"],
    "parser": "babel-eslint"
}
