@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Ubuntu|Acme|Roboto|Bungee|Barlow+Semi+Condensed|Candal|Encode+Sans+Condensed|Righteous|Karla|Roboto+Condensed&display=swap');



.leaflet-container {
    width: 100%;
    height: 100%;
    /*      left top right bottom*/
    /*margin: 0 auto;*/
}

/*.leaflet-map-pane {
    height: 400px;
    background-color: #0a0a0c;

}*/
.map_outer_background {
    background-color: #262626
}

.leaflet-container {
    -ms-touch-action: none;
    touch-action: none;
    background-color: #262626
}


.bottomGridArea {
    zIndex: 999999
}


.leaflet-control-container {
    background-color: #3b3f47;
}

.leaflet-control-zoom-out {
    background-color: #3b3f47;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-popup-content-wrapper {
    background-color: rgba(71, 82, 102, 0.65);
    font-weight: bold;
    color: white;
    font-size: 9px;
    width: auto;
    min-width: auto;
    border-radius: 0px !important;
}


.leaflet-popup-content {
    font-size: 10pt !important;
}


.leaflet-popup-content-wrapper2 {
    background-color: rgba(71, 82, 102, 0.65);
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.mapLoader {
    position: absolute;
    left: 305px;
}

.marker1 {
    background-color: green;
    font-weight: bold;
}

.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background-color: #575757;
}

.leaflet-popup-content {
    font-size: 14px;
}


.leafMapDiv {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mapbox-logo {
    display: none !important;
}

.mapboxgl-ctrl {
    display: none !important;
}

#zoomIn {
    background-color: green;
}


.title_align2 {
    font-family: 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: bolder;
}

.header001 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*//background-color: chartreuse;*/
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}




.leaflet-popup-content {
    width: 700px;
    min-width: 450px;
}

.leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: solid 1px;
    font-size: 20px;
    width: auto;
}


.react-grid-item {
    touch-action: none;
}

.drag-handle {
    touch-action: none;
}

.react-grid-item.react-grid-placeholder {
    background-color: navy;
    border: solid 2px #3f9ec6;
    opacity: 0.25;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page_monitoring_popup_table_row {
    flex: 1;
    display: flex;
}

/*.viewListTableHeader{
    flex: 1;
    display: flex;
}*/


.viewListTableHeader2 {
    flex: 1;
    display: flex;
}

/*semantics ui overriding css*/

.ui.toggle.checkbox input:focus ~ .box:before, .ui.toggle.checkbox input:focus ~ label:before {
    background-color: gray;
    border: none;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: green !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: green !important;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    transform: none;
    border: none;
    top: 0;
    background: grey;
    box-shadow: none;
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 500rem;
}

.center001 {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.center002 {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
}

/*antd ui overriding css*/


.react-ripples {
    font-size: 9pt;
    font-weight: normal;
}

.ui.toggle.checkbox input:checked ~ label:before {
    background-color: rgba(68, 119, 0, 1) !important;
}

/*.ui.selection.active.dropdown .menu {
    border-color: #96c8da;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    z-index: 999999999999999;
}*/

.ui.dropdown .menu {
    z-index: 999999 !important;
}

.visible.menu.transition {
    z-index: 9999999999999999999999999;
}

.version_display {
    font-size: 10pt;
}


/*tr {
    height: 10px !important;;
}

tr td {
    height: auto !important;
}*/

.fixedSizeListTableDiv {
    height: 30px;
    display: flex;
    color: white;
}


/*.ant-select {
    background-color: black !important;
}

.ant-select-sm {
    background-color: black !important;
}*/

.draggable .page_monitoring_title {
    cursor: pointer !important;
    color: white !important;
}

.gutterRow {
    display: flex;
    cursor: pointer;
    marginTop: 20px;
}

.clusterCloudletBox {
    /*background: #00A0E9;*/
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 20px;*/
    margin-left: 5px;
}

.clusterCloudletBoxOne {
    /*background: #00A0E9;*/
    padding: 0px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*height: 20px;*/
    margin-left: 5px;
    width: 500px !important;
    min-width: 500px !important;
}

.tooltipForOperMarker .leaflet-popup-content-wrapper {
    width: 120px;
    border-radius: 0px;
}




.oper_popup_div {
    margin-top: 3px;
    margin-bottom: 3px;
}

.clientPopup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    width: 420px !important;
    border-color: #00A2FF;
    border-style: groove;
    background-color: black;
}


.cloudlet_popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    width: 450px !important;
    border-color: #43c02a;
    background-color: black;
    border-style: groove;
}

.popup_oper_cloudlet .leaflet-popup-content-wrapper {
    border-radius: 0px;
    width: 250px !important;
    border-color: #43c02a;
    border-style: groove;

}

.popup_admin_cloudlet .leaflet-popup-content-wrapper {
    border-radius: 0px;
    /*width: auto !important;*/
    display: inline-block;
    border-color: deeppink !important;
    border-style: groove;
    margin: 1px !important;
    background-color: black;
    opacity: 0.9;

}

.popup_text_admin_map {
    font-size: 10pt;
    font-weight: normal !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    cursor: pointer;
}

.popup_text_admin_map2 {
    font-size: 10pt;
    font-weight: bold !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.react-ripples {
    width: auto;
}

.tooltip2 {
    font-weight: normal !important;
    opacity: 0.8 !important;
    border-width: 1px !important;
    border-radius: 0px !important;
    border-style: solid;
    border-color: green !important;
}

.tooltipForAdmin {
    font-weight: normal !important;
    opacity: 1.0 !important;
    border-width: thin !important;
    border-radius: 0px !important;
    border-style: solid !important;
    border-color: #77BD25 !important;
}

.mapCloudletPopup {
    background-color: white !important;
    font-weight: normal !important;
    opacity: 0.9 !important;
    font-family: "Roboto Light" !important;

}

.mapCloudletTooltipInner {
    color: white;
    padding: 2px;
    font-family: "Roboto Light" !important;
    font-weight: normal !important;
}

.mapCloudletTooltipInnerForAdmin {
    color: white !important;
    padding: 2px;
    font-weight: normal !important;
    border-color: #77BD25 !important;
    border-width: thin !important;
    cursor: crosshair;

}

.mapCloudletTooltipInnerBlack {
    color: black !important;
    padding: 2px;
    /* font-family: "Roboto Light" !important;*/
    font-weight: normal !important;

}

.mapCloudletTooltip {
    color: black;
    padding: 2px;
    /* font-family: "Roboto Light" !important;*/
    font-weight: normal !important;

}

.mapCloudletTooltipDev {
    color: black !important;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bolder !important;
    font-size: 9pt;
    background-color: white !important;
}

.mapCloudletPopupInner2 {
    color: white;
    padding: 2px;
    border-width: 0px !important;

}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
    background-color: #292c33;
    overflow-y: auto;
    padding-bottom: 50px;
    padding-right: 10px;
    margin-right: 0px;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px !important;

}

::-webkit-scrollbar-thumb {
    border-right: 3px #55616b solid;
    border-left: 3px #55616b solid;
    background-clip: padding-box;
}

.thinScrBar {
    scrollbar-width: thin !important;
}

.dropDown {
    font-weight: normal;
    font-family: "Roboto Light";
}

.makeTopRightMenuActionButtonDiv {
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 30px;
    width: 30px;
    align-self: flex-end;
    justify-content: flex-end;
}

.streamSwitchDiv {
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 30px;
    width: 90px;
    marginRight: 5;
    marginLeft: 5;
    alignSelf: center;
    justifyContent: center;
}

.rangePicker {
    font-size: 8px !important;
}

.noClusterMsg {
    justify-content: center;
    width: 100%;
    color: white;
    align-self: center;
    text-align: center;
}


.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}



.add_item_popup_outer {
    border-width: 1px;
    border-style: dotted;
    border-color: dimgrey;
    z-index: 9999;
    opacity: 1.0;
    background-color: rgb(40, 35, 33);
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 1px #3f4338; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 1px 1px 1px #3f4338;
    box-shadow: inset 0 0 3px;

}

.add_item_popup_outer_header {
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
}

.add_item_popup_outer_header_right_icon {
    fontSize: 9;
    margin-right: -5px;
    margin-top: 12px;
    flex: .025;
    display: flex;
    backgroundColor: 'orange';
    justify-content: flex-end;
    align-items: flex-end;
}

.add_item_popup_container {
    position: absolute;
    top: 38px;
    zIndex: 128;
    width: 98.7%;
}

.select_dropdown_always_top {
    z-index: 90999999999;
}

.page_monitoring_hw_type_div {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -30px;
    margin-top: 10px;
}

.headerIconDiv {
    margin-top: -3px;
    flex: .5;
    cursor: pointer;
}

.clockDiv {
    font-size: 25pt;
}
