.header{
    width: calc(100% - 0px);
    height: 40px;
    text-align: left;
    border-top: 1px solid #4D4E52;
    border-left: 1px solid #4D4E52;
    border-right: 1px solid #4D4E52;
    border-bottom: 1px solid #4D4E52;
    border-radius: 4px;
    background-color:#16181D;
    outline: none;
    color:#ACACAC
}

.header_active{
    width: calc(100% - 0px);
    height: 40px;
    text-align: left;
    border-top: 1px solid #96C8DA;
    border-left: 1px solid #96C8DA;
    border-right: 1px solid #96C8DA;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color:#16181D;
    outline: none;
    color:#ACACAC
}

.select_tree_search{
    color:#ACACAC;
    background-color: #1D2025;
    border:1px solid #4D4E52;
    width:100%; 
}

.select_tree_view{
    color: #ACACAC; 
    width:100%; 
    background-color:#16181D
}

.tree_popper {
    min-width: 100%;
    width: 100%;
    z-index: 1;
    color:white;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: #16181D !important;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover, .MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: #16181D !important;
}

.mex_select_tree_group{
    background-color: transparent; 
    border: none; 
    display:block;
}

.mex_select_tree_detail{
    width:calc(100% - 30px);
    text-align: left;
    background-color: transparent;
    border: none;
    display: block; 
    margin-left:30px; 
}

.mex_select_tree_detail_select{
    width:calc(100% - 30px);
    text-align: left;
    background-color: #2A3242;
    border: none;
    display: block; 
    margin-left:30px; 
}

.mex_select_tree_detail:hover {
    background-color: #475266;
}
