@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Abel|Pathway+Gothic+One|Bungee|Candal|Righteous|Baloo+Bhai+2|Baloo+Bhaina+2|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Acme|Roboto|Bungee|Barlow+Semi+Condensed|Candal|Encode+Sans+Condensed|Righteous|Karla|Roboto+Condensed&display=swap');


.chartIcon {
    width: 120px;
    height: 100px;
}

.dropdown .text {
    white-space: nowrap;
    color: white !important;
}

.ant-select ant-select-enabled {
    background-color: black;
}

.ant-select-dropdown-menu-item {
    background-color: black;
}

/*DESC:MUI*/
/*DESC:MUI*/
/*DESC:MUI*/
/*.MuiPaper-root {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: black;
}*/

.mon_tr {
    height: 35px;
}

.MuiPaper-root {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #0c0a0a;
}

.content_title_wrap {
    display: flex;
    width: 100%;
    height: 32px !important;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 20px;
}

.content_title_label2 {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    justify-content: flex-end;
    margin-left: 5px;
}

.table_row {
    background-color: #00ffcc !important;
}


/*DESC:###################*/
/*DESC:###################*/
/*DESC:###################*/

.ant-dropdown-menu-submenu-arrow {
    display: none;
}

.gridTableCell:hover {
    background-color: dimgrey;
}

tbody:hover {
    background-color: transparent;
}

.tooltip001 {
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 0px none rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-style: italic;
}


/*dropdown start*/
.selected {
    font-weight: normal !important;
    font-size: 11px !important;
}

.item {
    font-weight: normal !important;
    font-size: 11px !important;
}

/*dropdown end*/

#button-wrapper {
    position: absolute;
    bottom: 0px;
    width: 20%;
    border: 1px solid black;
    background-color: red;
}

.tooltipclass {
    z-index: 100;
}

.popup1 {
    background-color: black;
    opacity: 0.7;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    /*      left top right bottom*/
    /*margin: 0 auto;*/
}

/*.leaflet-map-pane {
    height: 400px;
    background-color: #0a0a0c;

}*/
.map_outer_background {
    background-color: #262626
}

.leaflet-container {
    -ms-touch-action: none;
    touch-action: none;
    background-color: #262626
}


.bottomGridArea {
    zIndex: 999999
}


.leaflet-control-container {
    background-color: #3b3f47;
}

.leaflet-control-zoom-out {
    background-color: #3b3f47;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-popup-content-wrapper {
    background-color: rgba(71, 82, 102, 0.65);
    font-weight: bold;
    color: white;
    font-size: 9px;
    width: auto;
    min-width: auto;
    max-width: auto;
}

.clientPopup {
    width: auto;
    font-family: Ubuntu !important;
    font-size: 9pt !important;
}

.leaflet-popup-content {
    font-size: 10pt !important;
}


.leaflet-popup-content-wrapper2 {
    background-color: rgba(71, 82, 102, 0.65);
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.mapLoader {
    position: absolute;
    left: 305px;
}

.marker1 {
    background-color: green;
    font-weight: bold;
}

.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background-color: #575757;
}

.leaflet-popup-content {
    font-size: 14px;
}


.leafMapDiv {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mapbox-logo {
    display: none !important;
}

.mapboxgl-ctrl {
    display: none !important;
}

#zoomIn {
    background-color: green;
}


.title_align2 {
    font-family: 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: bolder;
}

.header001 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*//background-color: chartreuse;*/
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}


/*######################################################################*/
/*#########@todo modal popup style######*/
/*######################################################################*/

.ant-modal {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    width: auto;
    margin: 0 auto;
    pointer-events: none;
}

.ant-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}

.ant-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}

.ant-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ant-modal-close-x {
    display: block;
    width: 56px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    line-height: 56px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
}

.ant-modal-close:focus,
.ant-modal-close:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
}

.ant-modal-body {
    box-shadow: 0 4px 50px black;
}

/*todo: ###############################*/
/*todo: 켈린더 dateTime picker 관련 style*/
/*todo: ###############################*/
.ant-calendar-picker-input.ant-input {
    line-height: 1.5;
    height: 36px;
    background-color: black;
}

.ant-calendar-picker-input.ant-input.ant-input-disabled {
    line-height: 1.5;
    height: 36px;
    background-color: #1e2124;
}


.react-grid-layout {
    position: relative;
    -webkit-transition: height 200ms ease;
    transition: height 200ms ease;
    background-color: #292c33;
}

.leaflet-popup-content {
    width: 700px;
    min-width: 450px;
}

.leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: solid 1px;
    font-size: 20px;
    width: auto;
}


.react-grid-item {
    touch-action: none;
}

.drag-handle {
    touch-action: none;
}

.react-grid-item.react-grid-placeholder {
    background-color: navy;
    border: solid 2px #3f9ec6;
    opacity: 0.25;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page_monitoring_popup_table_row {
    flex: 1;
    display: flex;
}

/*.viewListTableHeader{
    flex: 1;
    display: flex;
}*/


.viewListTableHeader2 {
    flex: 1;
    display: flex;
}

/*semantics ui overriding css*/

.ui.toggle.checkbox input:focus ~ .box:before, .ui.toggle.checkbox input:focus ~ label:before {
    background-color: gray;
    border: none;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: green !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: green !important;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    transform: none;
    border: none;
    top: 0;
    background: grey;
    box-shadow: none;
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 500rem;
}

.center001 {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #26483300;
    border-color: #9f9fb1;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transition: all 0.3s;
}

.center002 {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
}

/*antd ui overriding css*/


.react-ripples {
    font-size: 9pt;
    font-weight: normal;
}

.ui.toggle.checkbox input:checked ~ label:before {
    background-color: rgba(68, 119, 0, 1) !important;
}

.bubble-chart {
    margin-left: -100px;
}

/*.ui.selection.active.dropdown .menu {
    border-color: #96c8da;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    z-index: 999999999999999;
}*/

.ui.dropdown .menu {
    z-index: 999999 !important;
}

.visible.menu.transition {
    z-index: 9999999999999999999999999;
}

.version_display {
    font-size: 10pt;
}

/*
.ui.selection.active.dropdown .menu {
    border-top: solid 1px rgba(255,255,255,.05) !important;
    min-width: 300px;
}
*/


.ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    background-color: darkslategrey !important;
}


/*tr {
    height: 10px !important;;
}

tr td {
    height: auto !important;
}*/

.table0000001 {
    height: 30px;
    display: flex;
}

.ant-select-selection {
    background-color: black !important;
}

.ant-select-dropdown-menu-item-active {
    background-color: #373f4f !important;
}

/*.ant-select {
    background-color: black !important;
}

.ant-select-sm {
    background-color: black !important;
}*/

.draggable {
    cursor: pointer;
}

.ant-select-dropdown-menu-item {
   /* line-height: 15px !important;*/
}

.gutterRow {
    display: flex;
}

.clusterCloudletBox {
    /*background: #00A0E9;*/
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 20px;*/
    margin-left: 5px;
}

.ant-select-tree-node-content-wrapper .ant-select-tree-node-content-wrapper-normal {
    color: red;
}

.ant-select-tree-dropdown .ant-select-dropdown-search .ant-select-search__field {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 7px;
    border: 1px solid #17171f;
    border-radius: 4px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.ant-select-tree {
    background-color: rgba(0, 0, 0, 0.6);
}

/*.ant-select-tree-title{
    background-color: red;
}*/
/*.ant-select-tree-treenode-switcher-open .ant-select-tree-treenode-switcher-close {
    height: 15px;
    padding: 0px;
    margin: 0px
}

.ant-select-tree li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 5;
    white-space: nowrap;
    list-style: none;
    outline: 0;
}*/
