.react-dual-listbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
    width:100%;
}

.react-dual-listbox * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.react-dual-listbox input:disabled,
.react-dual-listbox select:disabled {
  background: #4a4a4a;
  cursor: not-allowed;
}

.react-dual-listbox button,
.react-dual-listbox select {
  line-height: 1.42857;
  font-family: inherit;
}

.rdl-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.rdl-filter,
.rdl-control {
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 12px;
  width: 100%;
  color: #333;
  font-size: 14px;
    background-color: #1d1f23;
}

.rdl-filter {
  margin-bottom: 10px;
}

.rdl-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rdl-control-label {
  padding: 2px 4px;
}

.rdl-control-label.rdl-sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
}

.rdl-control {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.rdl-control optgroup {
  font: inherit;
  font-weight: 700;
}

.rdl-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.rdl-has-header .rdl-actions {
  padding-top: 31px;
}

.rdl-has-filter .rdl-actions {
  /*padding-top: 44px;*/
    padding: 44px 0;
}

.rdl-has-header.rdl-has-filter .rdl-actions {
  padding-top: 75px;
}

.rdl-actions-right,
.rdl-actions-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rdl-actions-right {
  margin-bottom: 10px;
}

.rdl-move {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
  font-size: 12px;
}

.rdl-move:active:not(:disabled), .rdl-move:focus:not(:disabled) {
  border-color: #8c8c8c;
  background: #e6e6e6;
}

.rdl-move:focus:not(:disabled) {
  outline: thin dotted;
  outline-offset: -2px;
}

.rdl-move:hover:not(:disabled) {
  border-color: #adadad;
  background: #e6e6e6;
}

.rdl-move:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.rdl-move:last-child {
  margin-bottom: 0;
}

.rdl-move i {
  margin: 0 -1px;
}

.rdl-align-top .rdl-available {
  margin-right: 10px;
}

.rdl-align-top .rdl-selected {
  margin-left: 10px;
}

.rdl-align-top .rdl-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rdl-align-top .rdl-actions-left,
.rdl-align-top .rdl-actions-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.rdl-align-top .rdl-move {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.rdl-align-top .rdl-move:first-child {
  margin-bottom: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rdl-align-top .rdl-move:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}




/*커스텀 Custom CSS*/
.ui.form .rdl-list-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    /*-ms-flex: 1 0 auto;*/
    /*flex: 1 0 auto;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    outline: 0;
    text-align: left;
    -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
    /*word-wrap: break-word;*/
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    /*min-width: 14em;*/
    /*min-height: 2.71428571em;*/
    /*background: #fff;*/
    padding: .78571429em 1em .78571429em 1em;
    box-shadow: none;
    border-radius: .28571429rem;
    border: solid 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;

    background-color: rgba(0,0,0,0.3);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-flex: 1;*/
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-ms-flex-item-align: stretch;*/
    align-self: stretch;

}

.ui.form .rdl-filter-container {

}

.ui.form .rdl-filter-container input.rdl-filter {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    outline: 0;
    text-align: left;
    -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
    /*word-wrap: break-word;*/
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    /*min-width: 14em;*/
    /*min-height: 2.71428571em;*/
    /*background: #fff;*/
    padding: .78571429em 2.1em .78571429em 1em;
    box-shadow: none;
    border-radius: .28571429rem;
    border: solid 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;

    background-color: rgba(0,0,0,0.3);
    width: 100%;
}



.ui.form .rdl-control-container select.rdl-control {
    position: relative;
    display: block;
    outline: 0;
    text-align: left;
    -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-width: 14em;
    min-height: 2.71428571em;
    padding: 0em 1em 0em 0em;
    box-shadow: none;
    border-radius: 0rem;

    background-color: transparent;
    border: none;
    color: rgba(255,255,255,.6) !important;

}

.ui.form .rdl-control-container select.rdl-control option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

}

.ui.form .rdl-control-container select.rdl-control option:hover {
    background-color: rgba(71,82,102,1) !important;
    color: rgba(255,255,255,0.9) !important;
}

.ui.form .rdl-control-container select.rdl-control option:active {
    background-color: rgba(71,82,102,1) !important;
    color: rgba(255,255,255,0.9) !important;
}


.ui.form .rdl-actions button.rdl-move {
    background-color: rgba(117,122,133,.65) !important;
    border: 0px;
    border-radius: 50%;
    width:38px;
    height:38px;
    color: rgba(0,0,0,.6) !important;
}
