.page_audit {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    background: #292c33;
}
.page_audit_history {
    display: block;
    width: 100%;
    /*flex-direction: column;*/
}
/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) {
    @media {
        .page_audit_history {
            height: 350px;
        }
    }
}
.page_audit_history_option {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    margin-bottom: 5px;
}

.page_audit_history_option_counting {
    display: flex;
    /* height: 100%; */
    background: #0a0a0c;
    border: 1px solid #3b3b3d;
    border-radius: 5px;
    padding: 10px;
}
/* Safari 10.1+ */
/* @media not all and (min-resolution:.001dpcm) {
    @media {
        .page_audit_history_option_counting {
            height: 39px;
        }
    }
} */
.page_audit_history_option_counting_title {
    font-size: 16px;
    font-weight: bold;
    color: #c5c6c8;
}
.page_audit_history_option_counting_number {
    font-size: 16px;
    font-weight: bold;
    color: #ce0000;
    margin: 0 0 0 40px;
}
.page_audit_history_option_period {
    display: flex;
    margin-left: 20px;
    align-items: center;
}


.page_audit_history_label {
    white-space: nowrap;
    margin-right: 10px;
}

.page_audit_history_timeline {
    display: flex;
    height: 120px;
    border-bottom: 1px solid #35383d;
    margin: 20px 0;
}

/*.page_monitoring {*/
/*    display: flex;*/
/*    height: 900px;*/
/*    border-bottom: 1px solid #35383d;*/
/*    margin: 20px 0;*/
/*    padding: 20px;*/
/*    background: #292c33;*/
/*    !*background: #101115;*!*/

/*}*/
/* Safari 10.1+ */
/* @media not all and (min-resolution:.001dpcm) {
    @media {
        .page_audit_history_timeline {
            height: 181px;
        }
    }
} */
.page_audit_history_timeline_container {
    display: flex;
    width: 100% !important;
    height: 100% !important;
}
.page_audit_history_timeline_container_wrapper {
    display: flex;
    width: 100% !important;
    height: 100% !important;
}
.page_audit_history_timeline_container_wrapper .events-wrapper {
    display: flex;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    margin: 0 !important;
}
.page_audit_history_timeline_container_wrapper .events-wrapper .events {
    display: flex;
    height: 5px !important;
}
.page_audit_history_timeline_container_wrapper .events-wrapper .events .timeline-eventline {
    /* top: -6px !important; */
}
.page_audit_history_timeline_container_wrapper .events-wrapper .events .events-bar .present.dot-label {
    left: 0 !important;
}

.page_audit_history_timeline_container_wrapper .events-wrapper .events .events-bar .dot-label > span {
    /* width: 30px !important;
    height: 30px !important; */
    /* border: 5px solid #292c33 !important; */
}
.page_audit_history_timeline_container_wrapper > ul {
    display: none !important;
}
.page_audit_history_grid {
    display: flex;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #35383d;
}
.page_audit_code {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 20px 0 0 0;
}
.page_audit_code_left {
    display: flex;
    flex-grow: 1;
    margin: 0 20px 0 0;
    /*width: calc(50% - 10px);*/
    height: 100%;
}
.page_audit_code_rawviewer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 10px;
}
.page_audit_code_rawviewer_title {
    display: flex;
    font-size: 20px;
    color: #c5c6c8;
    margin: 0 0 10px 0;
}
.page_audit_code_rawviewer_codebox {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
.page_audit_code_rawviewer_codebox .react-json-view {
    background: #1e2124 !important;
    overflow: auto;
}
.page_audit_code_right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /*width: calc(50% - 10px);*/
    height: 100%;
}
.page_audit_code_request {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: calc(50% - 10px);
}
.page_audit_code_request_title {
    display: flex;
    font-size: 20px;
    color: #c5c6c8;
    margin: 0 0 10px 0;
}
.page_audit_code_request_codebox {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
.page_audit_code_request_codebox .react-json-view {
    background: #1e2124 !important;
    overflow: auto;
}
.page_audit_code_response {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    margin: 20px 0 0 0;
    padding: 10px;
    width: 100%;
    height: calc(50% - 10px);
}
.page_audit_code_response_title {
    display: flex;
    font-size: 20px;
    color: #c5c6c8;
    margin: 0 0 10px 0;
}
.page_audit_code_response_codebox {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
.page_audit_code_response_codebox .react-json-view {
    background: #1e2124 !important;
    overflow: auto;
}
.page_audit_timeline .events {
    margin-top:0 !important;
}
.page_audit_timeline .events-bar li.dot-label {
    top:0;
    padding-bottom:0 !important;
    papping-top:15px !important;
}
.page_audit_timeline .events-bar li.dot-label>div>span {
    top:-5px !important;
}


/* 오딧 타임라인 */

.react-calendar-timeline .rct-header-root {
    background: transparent;
    border-bottom: none;
}

.react-calendar-timeline .rct-calendar-header {
    border: transparent;
}

.react-calendar-timeline .rct-calendar-header > div {
    height: 36px !important;
}

.react-calendar-timeline .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background: #202329;
    border: 2px solid #292c33;
    border-radius: 4px;
    /*padding:5px;*/
    font-size: 14px;
    font-weight: 600;
    color: rgba(255,255,255,.6);
}

.timeline_header_summary {
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
}

.timeline_header_summary_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
    width:100%;
    background: #202329;
    border: 2px solid #292c33;
    border-radius: 4px;
    padding:5px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255,255,255,.6);
}

.timeline_header_summary_normal {
    color: #21ba45;
 }

.timeline_header_summary_error {
    color: #db2828;
}

.react-calendar-timeline .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    max-height: calc(100% - 72px);
    overflow-y: scroll;
}

.react-calendar-timeline .rct-sidebar {
    border-right: none;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
    background: #202329;
    border: 2px solid #292c33;
    border-radius: 4px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255,255,255,.7);
}


.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even > div,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd > div{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    text-align: center;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even .title,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd .title {

}


.react-calendar-timeline .rct-vertical-lines .rct-vl {
    border-left: transparent;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    border-top: 2px solid #292c33;
    border-bottom: 2px solid #292c33;
    background: rgba(0, 0, 0, 0.1);
}

.react-calendar-timeline .rct-scroll {
    border-left: 2px solid #292c33;
    border-right: 2px solid #292c33;
}

.rct-item {
    font-size: 14px !important;
    padding: 5px 10px;
    background: #202329 !important;
    height: fit-content !important;
    color: rgba(255,255,255,.7);
}

.rct-item > div {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.rct-item > div > button{
    width:100%;
    background-color: #0a0a0c;
    border: transparent;
    margin-top: 2px;
    border-radius: 4px;
    color: rgba(255,255,255,.7);
}

.timeline_button_layout {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timeline_button_current {
    width:180px;
    background-color : #202329;
    border: 2px solid #292c33;
    border-radius: 4px;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    font-weight: 600;
    height:28px;

}
.timeline_button_arrow_box{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}

.timeline_button_arrow {
    vertical-align: middle;
    background-color: transparent;
    color: rgba(255,255,255,.7);
    height:28px;
    width: 28px;
    padding:0;
    border: none;
}

.timeline_button_arrow .material-icons {
    font-family: 'Material Icons';
    color: rgba(255,255,255,.4);
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.page_audit_error_box {
    cursor: pointer;
    line-height: 1em;
    white-space: nowrap;
    min-width: 14em;
    min-height: 2.71428571em;
    display: flex;
    flex-direction: row;
    padding: .78571429em 1em .78571429em 1em;
    box-shadow: none;
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,width .1s ease;
    background-color: rgba(0,0,0,.6);
    border: solid 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,.6);
    text-align: left;

}
.page_audit_error_label {
    display: flex;
    flex:1;
}

.page_audit_error_number {
    display: flex;
    color: #db2828;
}
