

.audit_container {
    background-color: #292C33;
    width: 450px;
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.3);
    height: calc(100vh - 0px);
}

.audit_container_history {
    background-color: #292C33;
    width: 450px;
}

.audit_timeline_vertical {
    overflow-y: auto;
    height: calc(100% - 115px);
}

.audit_timeline_vertical_expand {
    overflow-y: auto;
    height: calc(100% - 202px);
}

/* timeline */

.audit_container .audit_timeline_container {
    padding:30px 0 10px 0;
}

.audit_container .MuiPaper-root, .audit_container .MuiPaper-root {
    background-color: transparent;
    box-shadow: none;
}

.audit_container .MuiAccordion-root:before {
    display: none;
}
.audit_container .MuiAccordion-root.Mui-expanded{
    margin: 0;
}

.audit_container .MuiAccordionSummary-root {
    display: flex;
    padding: 0px 30px;
    height:50px;
    min-height: 50px;
}
.audit_container .MuiAccordionSummary-root.Mui-expanded {
    min-height: 50px;
}

.audit_container .MuiAccordionSummary-content {
    margin: 0;
    align-self: flex-start;
}
.audit_container .MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
}

.audit_container .MuiStep-root {
    display: flex;
    flex-direction: row;
}

.audit_timeline_time {
    display: flex;
    margin: 0 10px 0 0;
    width: 60px;
    text-align: right;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.1px;
    color: #ffffff;
}

.audit_container .MuiStepLabel-iconContainer{
    position: relative;
}
.audit_container .MuiStepLabel-iconContainer:before {
    content:'';
    display: block;
    position: absolute;
    top: 18px;
    left: 8px;
    width: 1px;
    height: 39px;
    background-color: #3B3F47;
}
.audit_timeline_container .MuiExpansionPanel-root:last-child .MuiStepLabel-iconContainer:before{
    display: none;
}

.audit_timeline_Step {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: 6px;
    margin-left: 3px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audit_timeline_Step .MuiSvgIcon-root {
    width: 10px;
    height: 10px;
    font-size: 10px;
}

.audit_container .MuiStepConnector-vertical {
    margin-left: 111px;
    padding: 0;

}

.audit_container .MuiStepConnector-lineVertical {
    border-left-width: 4px;
    border-color: #5d6576;
    min-height: 24px;
}

.audit_container .MuiCollapse-container {
    background-color: #3B3F47;
}

.audit_container .MuiAccordionDetails-root{
    padding: 20px;
    flex-direction: column;
}

.audit_timeline_container .MuiStepLabel-root {
    align-items: flex-start;
}

.audit_timeline_title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.09px;
    color: #ffffff;

}

.audit_timeline_traceID {
    font-size: 12px;
    display: inline;
    margin-left: 10px;
    line-height: 1.43;
    letter-spacing: 0.1px;
    color: #9e9e9e;

}

.audit_timeline_traceID span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: 0.1px;
    color: #9e9e9e;

}

.audit_timeline_detail_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.audit_timeline_detail_left {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    width:100px;
}

.audit_timeline_detail_right {
    font-size: 13px;
    word-wrap: break-word;
    color: #ffffff;
}

.audit_timeline_detail_button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}

.audit_timeline_detail_button button {
    width: 120px;
    height: 36px;
    border-radius: 4px;
    background-color: #6b7487;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.20), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: 0.3px;
    color: #ffffff;
}


