.page_monitoring {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    background: #292c33;
}

.page_monitoring_select_area {
    display: flex;
    height: 38px;
    flexDirection: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.page_monitoring_select_area .ui.selection.dropdown {
    margin-right: 20px;
}

.page_monitoring_select_reset {
    padding: 0 10px;
    cursor: pointer;
    color: rgba(255,255,255,.7);
    text-decoration: underline;
}

.page_monitoring_dashboard {
    display: flex;
    flex-direction: column;

}

.page_monitoring_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.page_monitoring_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
}

.page_monitoring_column:last-child {
    margin-right:0px;
}

.page_monitoring_title_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px 0;

 }

.page_monitoring_title {
    display: flex;
    font-size: 20px;
    color: #c5c6c8;
}

.page_monitoring_title_area .ui.selection.dropdown{
    margin-left: 20px;
}