.page_monitoring {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    background: #292c33;
}

@media screen and (max-width: 1200px) {
    .page_monitoring {
        overflow-y: scroll;
    }
}

.page_monitoring_select_row {
}


.page_monitoring_select_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}




.page_monitoring_dropdown_box {
    display: flex;
    flex-direction: row;
}

.page_monitoring_dropdown_label {
    display: flex;
    align-items: center;
    color:rgba(255,255,255,.8);
    margin-right: 10px;
    margin-bottom: 10px;

}

.page_monitoring_select_area .ui.selection.dropdown {
    margin-right: 20px;
    margin-bottom: 10px;
    /*min-width: 250px;*/
}

.page_monitoring_select_area .page_monitoring_dropdown_box:first-child .ui.selection.dropdown {
    /*min-width: 196px;*/
}

.page_monitoring_select_area .select_icon {
    /*display:inline-block;*/
    font-size: 24px;
    line-height: 36px;
    /*margin-left:10px;*/
    margin-right:20px;
    margin-bottom: 10px;
    /*vertical-align: middle*/
}

/*.page_monitoring_select_area .ui.selection.dropdown {*/
/*    margin-right: 20px;*/
/*    min-width: 250px;*/
/*}*/

.page_monitoring_select_area .ant-calendar-picker{
    margin-bottom: 10px;
    /*margin-left: 20px;*/
    /*min-width: 250px;*/
}

.page_monitoring_datepicker_area {
    display: flex;
    flexDirection: row;
    /*min-width: 190px;*/
    min-width: 374px;
    /*margin-bottom: 10px;*/
}
.page_monitoring_select_reset {
    padding: 0 10px;
    cursor: pointer;
    color: rgba(255,255,255,.7);
    text-align: center;
    text-decoration: underline;
    min-width: 76px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.page_monitoring_dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100% - 100px);
    max-height: calc(100% - 50px);
}
.page_monitoring_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-grow: 1;
    height: calc(50% - 40px);
}
.page_monitoring_row:last-child {
    margin-bottom: 0px;
    height: 40px;
}
.page_monitoring_column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    flex: 1 1 0;
    overflow: hidden;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    margin-right: 20px;
}
.page_monitoring_column:last-child {
    flex: 2 2 0;
    margin-right: 0;
}

.page_monitoring_table_column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    flex: 1 1 0;
    overflow: hidden;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 0 20px;
    justify-content: center;

}


/*.page_monitoring_column_kj {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    flex-grow: 1;*/
/*    overflow: hidden;*/
/*    border: 1px solid #4b4d52;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    margin-right: 20px;*/
/*    height:320px;*/
/*}*/


.page_monitoring_tab {
    height:100%
}

.page_monitoring_tab .react-tabs__tab-panel.react-tabs__tab-panel--selected {
    height:100%;
}


.page_monitoring_tab .ui.secondary.pointing.menu {
    border-bottom: 2px solid rgba(255,255,3255,.2);
}

.page_monitoring_tab .ui.secondary.pointing.menu .item {
    padding: 10px 40px 5px 40px;
    font-size: 18px;
}
.page_monitoring_tab .ui.secondary.pointing.menu .active.item {
    background: none !important;
    border-color: rgba(136,221,0,.9);
}

.page_monitoring_tab .ui.secondary.pointing.menu .item:hover {
    background: none !important;
    border-color: rgba(136,221,0,.9);
}

.page_monitoring_tab .ui.segment.active.tab {
    border: none;
    /*height: calc(100% - 53px);*/
    /*margin-top: 10px;*/
}

.page_monitoring_dual_column{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden; /* 임시 */
}

.page_monitoring_dual_container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1 1 0;
    height: 100%;
}

.page_monitoring_dual_container:last-child {
    margin-right: 0;
}

.page_monitoring_column:last-child {
    margin-right:0px;
}

.page_monitoring_title_area {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    margin: 5px 0;
    height: fit-content;
    flex:1 1 0;
}

/*.page_monitoring_title_area2 {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*flex-wrap: wrap;*!*/
/*    align-items: center;*/
/*    margin: 5px 0;*/
/*    height: fit-content;*/
/*    !*background-color: crimson;*!*/
/*    flex:.58;*/
/*}*/


/*.page_monitoring_title_area3 {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*flex-wrap: wrap;*!*/
/*    align-items: center;*/
/*    margin: 5px 0;*/
/*    height: fit-content;*/
/*   !* background-color: #ff5e1d;*!*/
/*    flex:.42;*/
/*}*/


.page_monitoring_row:last-child .page_monitoring_title_area {
    margin: 5px 0;

}

.page_monitoring_title_area .ui.selection.dropdown{
    height:20px;
    min-width: 140px;
    font-size: 12px;
}

.page_monitoring_title {
    display: flex;
    margin-right: 20px;
    flex-grow: 1;
    min-width: 190px;
    line-height: 1.2;
    font-size: 18px;
    color: #c5c6c8;
}
.page_monitoring_container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    width:100%;
    height:100%;
    position: relative;
}

.page_monitoring_container_row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    width:100%;
    height:100%;
}

.page_monitoring_container_column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width:100%;
    height:100%;

}


.page_monitoring_popup_column {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
    border: 1px solid #4b4d52;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-right: 20px;
    background-color:#292c33;
    width:calc(100% - 60px);
    position: absolute;
    zIndex: 999999;
    bottom: 30px;
    left: 30px;
    height:55%;
}

.page_monitoring_popup_header_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px;
}
.page_monitoring_popup_header_row>div {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.page_monitoring_popup_header_title {
    flex-grow: 1;
    min-width: 190px;
    line-height: 1.2;
    font-size: 18px;
    color: #c5c6c8;
}

.page_monitoring_popup_header_button{
    justify-content: center;
    font-size: 12px;
    color: #c5c6c8;
}

.page_monitoring_popup_table {
    height: 100%;
}

.page_monitoring_popup_table .ui.table {
}


.page_monitoring_popup_table_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:100%;
    height:100%;
}

.page_monitoring_popup_table .ui.celled.table thead tr:first-child>th{
    background-color: #35383d;
    color: rgba(255,255,255,.7);
    cursor: default;
}

.page_monitoring_popup_table .ui.celled.table tbody tr.page_monitoring_popup_table_row:hover {
    background-color: #444 !important;
}


.page_monitoring_grid {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.page_monitoring_grid:last-child {
    margin-bottom: 0;
}


.page_monitoring_grid_box_layout {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    width: 33.3333%;
    height: 100%;
    padding:0 5px;
}
.page_monitoring_grid_box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: #1e2124;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.page_monitoring_grid_box_name {
    color: #c5c6c8;
    max-width:100%;
    font-size: 14px;
    line-height: 1.2em;
    height: 32px;
    text-align: center;
    word-break: keep-all;
    /*word-wrap: break-word;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page_monitoring_grid_box_num {
    font-size: 48px;
    line-height: 1.2em;
    color: #29a1ff;

}

.page_monitoring_chart {

    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

.page_monitoring_pieChart_position {

    display: flex;
    position: absolute;
    flex-direction: column;
    width: 180px;
    height: 100%;
    top:0;
    right:0;
    padding: 5px;

}

.page_monitoring_pieChart {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(85, 85, 85, 0.6);
    border-radius: 5px;

}

.page_monitoring_pieChart_name_position {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100%;
    height: 120px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.page_monitoring_pieChart_name {
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    width: 76px;
    max-height:34px;
    text-align: center;
    word-break: keep-all;
    /*word-wrap: break-word;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.page_monitoring_pieChart_title {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    word-break: keep-all;
    /*word-wrap: break-word;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;

}


.page_monitoring_pieChart_table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page_monitoring_pieChart_table_row {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    height: 14px;
    border-radius: 2px;
    border: 1px solid #000;
    overflow: hidden;
    margin: 0 10px 2px 10px;
}

.page_monitoring_pieChart_table_left_column {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #000;
    align-items: flex-end;
    justify-content: center;
    font-size: 10px;
    color: #fff;
    padding: 0 5px;
}

.page_monitoring_pieChart_table_right_column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
    justify-content: center;
    font-size: 10px;
    color: #fff;
    padding: 0 5px;
}


.page_monitoring_blank_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
}

/*.chartjs-size-monitor {*/

/*    width: 100%;*/
/*    height:100%;*/
/*}*/
/*.chartjs-size-monitor canvas {*/

/*    width: 100% !important;*/
/*}*/
/*.chartjs-render-monitor{*/
/*    width: 100% !important;*/
/*}*/

