.plotContainer .modebar { display: none !important; }

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif !important;
}


.bglayer .bg {
    fill: rgb(0, 0, 0);
    fill-opacity: 0.2 !important;
}