.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #1B432C; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: rgba(67,167,111,.4); }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: rgba(67,167,111,.9); }
.bullet .measure.s1 { fill: #FFF; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }