.event-list-main{
    padding-top: 5px;
    width: 100%;
}

.event-list-header{
    margin-bottom: 10px;
    padding-left: 5px;
}

.event-list-progress{
    margin-bottom: 10px;
    padding-right: 5px;
    float: right;
}