.event-list-main{
    padding-top: 5px;
    width: 100%;
}

.event-list-header{
    margin-bottom: 10px;
    padding-left: 5px;
}

.event-list-progress{
    margin-bottom: 10px;
    padding-right: 5px;
    float: right;
}

.event-list-data{
    height: calc(33vh - 0px);
    overflow: auto;
}

.event-list-more{
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}