
.details-header {
    margin-bottom: 20px;
}
.details-main table.details {
    font-size:12px;
    border-spacing: 1.5em 0em;
}

.details-main table.details tbody {
    max-height: calc(27vh - 10px);
    overflow-y: auto;
    overflow-x: hidden;
}

.details-main table.details tbody td,
.details-main table.details thead th {
    max-width: 200px;
}

.details-main table.details thead th {
    border-bottom: 1px solid white;
}

.details-main thead, tbody tr {
    width: 100%;
    text-align: left;
}
