
.monitoring{
    position: relative;
}

.monitoring .main {
    height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
}

.monitoring .main .legend-drag-btn {
    position: relative;
    height: 4px;
}

.monitoring .main .block-1 {
    height: 150px;
    resize: vertical; /* resize vertical */
    overflow: auto; /* resize works for overflow other than visible */
    background-color: #292C33;
}

.monitoring .main .block-2 {
    height: auto;
    flex: 1; /* adjust automatically */
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto; /* hide overflow on small width */
}


.monitoring .main .block-2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.monitoring .main .block-2{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    &::-webkit-scrollbar {
      width: 1px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
}

.monitoring .main .window-height-300{
    height: 300px;
}

.monitoring .main .block-2 .app-client {
    height: 300px; 
    width: 100%;
}


.monitoring .toolbar {
    height: 50px; 
    margin-bottom: 2px 
}

.monitoring .toolbar .container {
    width: 100%;
}
   
.monitoring .toolbar .headerBar {
    padding: 10px 0px 0px 0px;
    font-size:25px;
    margin-bottom: 5px;
    height: 50px;
}

.mex-monitoring-header-label {
    width: 100%;
}

.mex-monitoring-select-container {
    color:rgba(255, 255, 255, 0.85);
    margin-right: 0px;
    display: inline-block; 
}

.mex-monitoring-select{
    height: 20px;
    overflow:visible;
    z-index: 999 !important;
}

.montoring-manual-scroll{
    position: absolute;
    cursor: pointer;
    right : 10px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    margin: auto;
    padding: 15px;
    background-color: #3B3F47;
    border-radius: 50px;
}

.mex-monitoring-time-range-input {
    width:50px;
    border:solid 1px rgba(255,255,255,.2);
    border-radius:.28571429rem;
    background-color:black;
    color: rgba(255,255,255,.6) !important;
}

.mex-monitoring-time-range-input:hover {
    border:solid 1px rgba(255,255,255,.4);
}

.grid-charts {
    height: calc(100vh - 298px);
    overflow: auto;
    overflow-x: hidden;
    margin-top: 4px;
}

.grid-charts-header{
    height: 100%;
}


.grid-charts-header-legend{
    height: calc(100% - 15px);
    overflow: auto;
}

.grid-charts-legend {
    cursor: pointer;
    display: inline;
    text-align: left; 
}

.grid-charts-legend-label{
    width: 250px;
    flex: 1;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar-summary {
    background-color: rgba(118, 255, 3, 0.8);
    border-radius:5;
    width:40;
    height:20; 
    font-size:12;
    padding:2;
}

.leaflet-tooltip-pane .text {
    color: white; 
    font-weight: bold;
    background: transparent;
    border:0;
    box-shadow: none;
    font-size:1em;
  }

.chart-header {
    color:#CCC;
}

.chart-no-data{
    padding: 50px 0;
    font-size: 20px;
    color:#CCC;
}

.line-skeleton{
    height: 55vh;
}

canvas#race{position:relative; z-index:999999;}

.monitoring .main .bullet-hover {
    display: flex;
    align-items: center; 
    color: #CECECE; 
    font-weight: 900
}



