.alert-toolbar {
    padding: 10px;
}
.alert-toolbar-left {
    float: left;
}

.alert-toolbar-right {
    float: right;
}

.alert-local-list {
    height: calc(60vh - 100px);
    overflow: auto; 
    width: 100% ;
}