
.otp-registration-link {
    color: #93E019;
    background-color: transparent;
    border: none;
    display: inline;
    cursor: pointer;
}

.otp-registration-link:hover {
    color: #FFF;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    vertical-align: middle;
}