.tooltipForOperMarker .leaflet-popup-content-wrapper {
    width: 120px;
    border-radius: 0.5px;
    background-color: black;
}


.leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-radius: 10px !important;
    width: 300px;
    border-color: #02e1fa !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.oper_popup_div {
    cursor: pointer;
    font-size: 13px;
}
