.mex-select .dropdown .text {
    width: 93% !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mex-select .dropdown {
    height: 38px;
}

.mex-select .ui.fluid.dropdown>.dropdown.icon  {
    padding:10px  !important;
}

.mex-select .ui.dropdown .menu>.message:not(.ui) {
    color:#CECECE !important;
}