html {
    height: 100%;
}
body {
    height: 100%;
    background: #202125 !important;
    color: rgba(255,255,255,.5) !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: rgba(255,255,255,.4) !important;
}
.ui.active.search.dropdown input.search:focus+.text {
    color: rgba(255,255,255,.4) !important;
}


.ui.selection.dropdown {
    background-color: rgba(0,0,0,.6);
    border: solid 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,.6) !important;
    line-height: 1.1em !important;
}
.ui.selection.dropdown:hover {
    border-color: rgba(255,255,255,.4);
    color: rgba(255,255,255,.75) !important;
}
.ui.search.dropdown>.text {
    color: inherit !important;
}
.ui.dropdown .menu {
    background-color: rgba(0,0,0,.6);
    color: rgba(255,255,255,.7) !important;
    font-weight: normal !important;
}
.ui.selection.active.dropdown .menu {
    border-top: solid 1px rgba(255,255,255,.05) !important;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected,
.ui.menu .ui.dropdown .menu>.selected.item {
    background: rgba(42,50,66,1) !important;
    border: none;
    color: rgba(255,255,255,0.75) !important;
}
.ui.dropdown .menu>.item,
.ui.menu .ui.dropdown .menu>.item {
    background: rgba(0,0,0,.7) !important;
    border: none;
    color: rgba(255,255,255,0.4) !important;
}
.ui.dropdown .menu>.item:hover,
.ui.menu .ui.dropdown .menu>.item:hover,
.ui.dropdown .menu .selected.item:hover {
    background-color: rgba(71,82,102,1) !important;
    color: rgba(255,255,255,0.9) !important;
}
.ui.menu .ui.dropdown .menu>.active.item,
.ui.dropdown .menu .active.item {
    font-weight: normal !important;
}

.ui.selection.dropdown .menu>.item {
    border: none;
}

.yamlDiv {
    margin-bottom: 0px;
}

/* New */


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    font-weight: 500;
}

.otp-registration-link {
    color: #93E019;
    background-color: transparent;
    border: none;
    display: inline;
    cursor: pointer;
}

.otp-registration-link:hover {
    color: #FFF;
}

.title {
    text-align: center;
    font-size: 18px;
    width: 100%;
    vertical-align: middle;
}

.side-nav-list {
    background-color: #292c33; 
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 52px);
}

.side-nav-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.side-nav-list{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  
    &::-webkit-scrollbar {
      width: 1px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }


#mex-side-nav .MuiPaper-elevation4{
    box-shadow: none !important;
}

#mex-side-nav .MuiDrawer-paperAnchorDockedLeft{
    border-right: none !important;
}

/* semanctic step */

.round_panel .steps {
    border: 1px solid hsla(0,0%,100%,.2);
}
.round_panel .step, .round_panel .step:after {
    background-color: #202125 !important;
    border: 1px solid #929395;
    color: #929395;
}

.round_panel .step .content .description, .round_panel .step .content .title {
    color:#929395;
}

.round_panel .step.active .content .description, .round_panel .step.active .content .title {
    color:#FFF;
}

.round_panel .steps .step, .round_panel .steps .step.active {
    border-right: 1px solid hsla(0,0%,100%,.2);
}

.round_panel .steps .step:after {
    border-right: 1px solid hsla(0,0%,100%,.2);
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.round_panel .step.active, .round_panel .step.active:after {
    background-color: #470 !important;
}

/* Legend Role Marker */
.markBox .mark {
    color:#FFF;
    margin-right: 25px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px;
}

.markBox .mark.markA.markS {
    background-color: rgba(136,221,0,.8);
}
.markBox .mark.markD.markM {
    background-color: rgba(255, 247, 2, 0.7);
}
.markBox .mark.markD.markC {
    background-color: rgba(255, 247, 2, 0.5);
}
.markBox .mark.markD.markV {
    background-color: rgba(255, 247, 2, 0.3);
}
.markBox .mark.markO.markM {
    background-color: rgba(204, 236, 255, 0.7);
}
.markBox .mark.markO.markC {
    background-color: rgba(204, 236, 255, 0.5);
}
.markBox .mark.markO.markV {
    background-color: rgba(204, 236, 255, 0.3);
}
/* Legend Role Marker */

/* Reg Map */
.panel_worldmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 0 rgba(255,255,255,.125);
    background-color: rgba(0,0,0,.2);
}
.panel_worldmap > div{
    height: 100%;
}
/* Reg Map */

/* Main Header Toolbar */
.MuiToolbar-regular {
    min-height: 48px !important;
}

.MuiToolbar-root>label, .MuiToolbar-root>button, .MuiToolbar-root>button.ui.button {
    margin-right:20px !important;
}
/* Main Header Toolbar */
