.gauge {
  position: relative
  top: -5px
  padding: 0
  margin: 0

  &-label {
    position: relative
    top: 12px
    padding: 0 10px 0 0
    font: 400 20px/1 Roboto
    text-align: center
  }

  &-el {

    svg {
      overflow: visible !important
    }
  }

  &-path {
    position: relative
  }

  &-text {
    font: 400 10px Roboto
    letter-spacing 3px
  }
}