on:
  release:
    types: [published]

jobs:

  deploy_to_staging:
    name: Publish the docker image to the MobiledgeX registry
    runs-on: ubuntu-latest

    steps:

      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Extract release tag
        id: get_tag
        run: echo ::set-output name=RELEASE_TAG::$(echo ${GITHUB_REF##refs/tags/})

      - name: Build and push dev image to registry
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          registry: registry.mobiledgex.net:5000
          repository: mobiledgex/console
          tags: ${{ steps.get_tag.outputs.RELEASE_TAG }},latest
          cache_froms: registry.mobiledgex.net:5000/mobiledgex/console:latest
          build_args: TAG=${{ steps.get_tag.outputs.RELEASE_TAG }}

      - name: Build and push prod image to registry
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          registry: registry.mobiledgex.net:5000
          repository: mobiledgex/console-prod
          dockerfile: Dockerfile.prod
          tags: ${{ steps.get_tag.outputs.RELEASE_TAG }}
          build_args: CONSOLE_IMAGE=registry.mobiledgex.net:5000/mobiledgex/console:${{ steps.get_tag.outputs.RELEASE_TAG }},REACT_APP_CAPTCHA_V2_KEY=${{ secret.RECAPTCHA_SITE_KEY }}

      - name: Deploy to staging console
        uses: ./.github/actions/deploy-to-staging
        with:
          jenkins_username: ${{ secrets.JENKINS_USER }}
          jenkins_api_token: ${{ secrets.JENKINS_APITOKEN }}
          jenkins_build_token: ${{ secrets.JOB_TOKEN }}
          tag: ${{ steps.get_tag.outputs.RELEASE_TAG }}
